*.icon-white {
    color: white;
}

*.icon-silver {
    color:silver;
}

*.icon-green {
    color: green;
}

*.icon-dark {
    color: gray;
}

*.icon-red {
    color: #d41c1c;
}

*.icon-yellow {
    color: #eaca0d;
}