<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>E-Commerce</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap-grid.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div>
        <nav class="navbar navbar-expand-lg  bg-dark navbar-dark">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/logo.png}"/>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li>
                        <span class="fas fa-user fa-2x icon-silver"></span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/index}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categories}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/brands}">Brands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/products}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customers}">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/shippings}">Shipping</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/orders}">Orders</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/services}">Sales Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/articles}">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/menus}">Menus</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/settings}">Settings</a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>
    <div>
        <h2>Manage Users</h2>
        <a th:href="@{/users/new}">Create New User</a>
    </div>

    <div th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div class="m-2">
        <table class="table table-striped table-bordered table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th scope="col">User Id</th>
                <th scope="col">Photos</th>
                <th scope="col">E-mail</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Roles</th>
                <th scope="col" class="text-center">Enable</th>
                <th scope="col" class="text-center">Operations</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${listUsers}">
                <td th:text="${user.id}"></td>
                <td><span class="fas fa-portrait fa-3x icon-silver"></span></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.roles}"></td>
                <td class="text-center">
                    <a th:if="${user.enable == true}" class="fas fa-check-circle fa-2x icon-green" href=""></a>
                    <a th:if="${user.enable == false}" class="fas fa-check-circle fa-2x icon-dark" href=""></a>
                </td>
                <td class="text-center">
                    <a class="fas fa-edit fa-2x icon-green" href=""></a>
                    &nbsp; &nbsp;
                    <a class="fas fa-trash fa-2x icon-red" href=""></a>
                    &nbsp; &nbsp;
                    <a class="fas fa-info fa-2x icon-yellow" href=""></a>
                </td>
<!--                <td class="text-center">-->
<!--                    <a th:href="@{users/info/{id} (id=${user.id})}" class="btn btn-info" title="All info about this user">Info</a>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <p>Shopme Control Panel - Copyright &copy; Shopme</p>
    </div>

</div>
</body>
</html>

